<ion-header>
	<ion-toolbar>
		<div class="bleib"><ion-title>FAQ</ion-title></div>
		<div class="circlee"><a href="http://www.firnbergschulen.at/" target="_blank"><img src="../../../assets/linkspictures/firnberg.jpeg" alt="eduvidual"></a></div>

	</ion-toolbar>
</ion-header>
<ion-content>

	<h1>Häufig gestellte Fragen</h1>
	<div class="thema">
		<p> 1. Ausbildung</p>
	</div>
	<div class="fragen">
		<p>Welche Zweige gibt es an der Schule?</p>
	</div>
	<div>
		<ul class="antworten">
			<li>Kommunikation und Mediendesign (Komd) - HSA</li>
			<li>Die Sprachen-Klasse (IKW) - HCA</li>
			<li>Wirtschafts-Klasse(WIV) - HWA</li>
			<li>Englisch-Klasse (IBT) - HTA </li>
			<li>Die Marketing-Klasse (MTM) - HMA </li>
			<li>Die Gastronomie-Klasse (Gast) - FGA </li>
		  </ul>
	</div>
	<div class="fragen">
		<p>Gibt es außerschulische Aktivitäten? </p>
	</div>
	<div>
		<ul class="antworten">
			<li>Die Schule bietet eine Anzahl von Freifächer an.</li>
		  </ul>
	</div>

	<div class="fragen">
		<p>Welche Freifächer gibt es? </p>
	</div>
	<div>
		<ul class="antworten">
			<li>Medien und Journalismus </li>
			<li>Debattierklub  </li>
			<li>Relais</li>
		  </ul>
	</div>
	<div class="fragen">
		<p>Wo kann ich mich anmelden </p>
	</div>
	<div>
		<ul class="antworten">
			<li>Bei der betreffenden Lehrkraft</li>
		  </ul>
	</div>
	<div class="fragen">
		<p>Ab welchem Jahrgang ist ein Laptop verpflichtend?  </p>
	</div>
	<div>
		<ul class="antworten">
			<li>Ab dem 2. Jahrgang</li>
		  </ul>
	</div>
	<div class="fragen">
		<p>Wie komme ich zur FH?  </p>
	</div>
	<div>
		<ul class="antworten">
			<li>U6: Station Dresdner Straße</li>
			<li>2,31,30: Straßenbahnlinien Station</li>
		  </ul>
	</div>
	<div class="thema">
		<p> 2. Auftreten</p>
	</div>
	<div class="fragen">
		<p>Wie lautet der Dress-Code?  </p>
	</div>
	<div>
		<ul class="antworten">
			<li>Keine zerrissenen Hosen</li>
			<li>Keine kurzen Hosen</li>
			<li>nichts bauchfreies tragen</li>
			<li>keine trägerlosen T-Shirts</li>
		  </ul>
	</div>
	<div class="fragen">
		<p>Muss ich die Servicekleidung jeden Tag tragen? </p>
	</div>
	<div>
		<ul class="antworten">
			<li>Nein, nur beim Service-Unterricht und eventuell bei Präsentationen</li>
		  </ul>
	</div>
	<div class="fragen">
		<p>Gibt es Variationen bei der Servicekleidung?</p>
	</div>
	<div>
		<ul class="antworten">
			<li>Die Servicekleidung besteht aus einem Jacket, 
				<br> einem Blazer sowie einem Hemd/ <br>einer Bluse
			    sowie einer Hose oder einem Rock </li>
		  </ul>
	</div>
	<div class="thema">
		<p> 3.Allgemein</p>
	</div>
	<div class="fragen">
		<p>Wer war Hertha Firnberg? </p>
	</div>
	<div>
		<ul class="antworten">
			<li>Hertha Firnberg war eine österreichische <br>  Politikerin  und die erste sozialdemokratische <br> 
				 Ministerin Österreichs.</li>
		  </ul>
	</div>
	<div class="fragen">
		<p>Seit wann gibt es diese Schule?</p>
	</div>
	<div>
		<ul class="antworten">
			<li>Die Hertha Firnberg Schulen gibt es seit 2011</li>
		  </ul>
	</div>

	<div routerLink="" class="myButton">Hier gehts zurück zur Startseite :)</div>
	<div>
		<ion-footer class="footer">
			<ion-tabs>
			  <ion-tab-bar slot="bottom">
				<ion-tab-button tab="notifications">
				<ion-icon name="notifications-outline"></ion-icon>
				<ion-label>Notifications</ion-label>
				</ion-tab-button>
			  
				<ion-tab-button tab="main">
				<ion-icon name="home"></ion-icon>
				<ion-label>Home</ion-label>
				</ion-tab-button>
			  
				<ion-tab-button tab="links">
				<ion-icon name="link-outline"></ion-icon>
				<ion-label>Links</ion-label>
				</ion-tab-button>
			  </ion-tab-bar>
			  </ion-tabs>
		</ion-footer>
		</div>
</ion-content>

