<ion-header>
	<ion-toolbar>
		<div class="bleib"><ion-title>Home</ion-title></div>
		<div class="circlee"><a href="http://www.firnbergschulen.at/" target="_blank"><img src="../../../assets/linkspictures/firnberg.jpeg" alt="eduvidual"></a></div>
	</ion-toolbar>
	<!--<div class="hero"></div>-->
</ion-header>
<ion-content>
	<div class="punkte">
	<p routerLink="/buy-or-sell">Exchange</p>
	<p routerLink="/tutor">Tutor</p>
	<p routerLink="/faq">FAQ</p>
	<p routerLink="/schulnewsletter">Schulnewsletter</p>
	<p routerLink="/corona">Corona News</p>
    </div>
	
	
	<!-- <p routerLink="/sophie">Kaufen/Verkaufen?</p> -->
	<!-- <p routerLink="/categorys">Kategorien</p> -->
	<!-- <p routerLink="/indexcategory">Index Kategorien</p> -->
	<!-- <p routerLink="/erfolgreich">Erfolgreiches Angebot</p> -->
	<!-- <p routerLink="/erfolglos">Erfolgloses Angebot</p> -->
	<!-- <p routerLink="/homeykategorie">Home und Kategorie</p> -->
</ion-content>
<!--</div>-->
