@charset "utf-8";

.punkte {

	font-family: Neusa Next Std;
	margin-bottom: 30px;
	margin-left: 20px;
    margin-right: 20px;
	letter-spacing: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 20px; 

}
.circlee {
	width: 60px;
	min-height: 3.4em;
	top: 0;
	position:fixed;
	float: right;

}
.bleib {
	margin-left: auto;
    margin-right: auto;
	float: right;

}

/*.hero{
	background-image: url() ;
	opacity:0.75;

}*/