<ion-header>
  <ion-toolbar>
    <div class="bleib"><ion-title>categorys</ion-title></div>
		<div class="circlee"><a href="http://www.firnbergschulen.at/" target="_blank"><img src="../../../assets/linkspictures/firnberg.jpeg" alt="eduvidual"></a></div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1>Produktkategorien</h1>
  <div *ngFor="let offer of offers">
    <p class="produkteTabelle">
      {{ offer.name }}<br />{{ offer.price | currency }}<br />
      {{ offer.description }}
    </p>
  </div>
  <div>
    <ion-footer class="footer">
        <ion-tabs>
          <ion-tab-bar slot="bottom">
            <ion-tab-button tab="notifications">
            <ion-icon name="notifications-outline"></ion-icon>
            <ion-label>Notifications</ion-label>
            </ion-tab-button>
          
            <ion-tab-button tab="main">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
            </ion-tab-button>
          
            <ion-tab-button tab="links">
            <ion-icon name="link-outline"></ion-icon>
            <ion-label>Links</ion-label>
            </ion-tab-button>
          </ion-tab-bar>
          </ion-tabs>
    </ion-footer>
    </div>
</ion-content>
