<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="main">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="links">
      <ion-icon name="link-outline"></ion-icon>
      <ion-label>Links</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
