<ion-header>
  <ion-toolbar>
    <div class="bleib"><ion-title>Angebot erstellen</ion-title></div>
		<div class="circlee"><a href="http://www.firnbergschulen.at/" target="_blank"><img src="../../../assets/linkspictures/firnberg.jpeg" alt="eduvidual"></a></div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <div class="form-group">
      <label>Kategorie: </label> <select class="form-control" name="selectbox_name">
      <option>Klicke zum Auswählen</option>
        <option value="Bücher">
          Schulbücher HLW
        </option>
  
        <option value="Bücher">
          Schulbücher HLT/HOFA
        </option>
      
      <option value="Bücher">
          andere Bücher
        </option>
      
      <option value="Kleidung">
          Servicekleidung
        </option>
      
      <option value="Kleidung">
          Kochkleidung
        </option>
      
      <option value="Nachhilfe">
          Nachhilfe
        </option>
      </select>
    </div>
  
    <div class="form-group">
      <label>Produktname: </label> <input type="text" class="form-control" name="text_name" placeholder="Produktname">
    </div>
  
    <div class="form-group">
      <label>Preis: </label> <input type="text" class="form-control" name="text_name" placeholder="Preis">
    </div>
  
    <div class="form-group">
      <label>Produktbeschreibung: </label> 
      <textarea class="form-control" name="textarea_name" placeholder="Zustand, Beschreibung, ...">
  </textarea>
    </div>
  
    <div class="form-group">
      <input type="submit" class="btn btn-primary" name="button_name" value="Angebot veröffentlichen:)">
    </div>
  </form>
  <div routerLink="" class="myButton">Hier gehts zurück zur Startseite :)</div>
  <div>
    <ion-footer class="footer">
        <ion-tabs>
          <ion-tab-bar slot="bottom">
            <ion-tab-button tab="notifications">
            <ion-icon name="notifications-outline"></ion-icon>
            <ion-label>Notifications</ion-label>
            </ion-tab-button>
          
            <ion-tab-button tab="main">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
            </ion-tab-button>
          
            <ion-tab-button tab="links">
            <ion-icon name="link-outline"></ion-icon>
            <ion-label>Links</ion-label>
            </ion-tab-button>
          </ion-tab-bar>
          </ion-tabs>
    </ion-footer>
    </div>
</ion-content>
