<ion-header>
  <ion-toolbar>
    <ion-title>erfolglos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1> Erfolgreiches Angebot:</h1>
	<div class="container"><br></br>Vielen Dank für dein Inserat! <br> </br>
Es wurde nun erfolgreich veröffentlicht.
Bei Interesse bekommst du eine 
E-Mail.</div>	
<br>
</br>
<a href="#" class="myButton">Hier gehts zurück zur Startseite :)</a>
<div>
  <ion-footer class="footer">
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="notifications">
          <ion-icon name="notifications-outline"></ion-icon>
          <ion-label>Notifications</ion-label>
          </ion-tab-button>
        
          <ion-tab-button tab="main">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
          </ion-tab-button>
        
          <ion-tab-button tab="links">
          <ion-icon name="link-outline"></ion-icon>
          <ion-label>Links</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
        </ion-tabs>
  </ion-footer>
  </div>
</ion-content>
